{% extends 'core/base.html' %} 
{% load static  %}
{% block content %}

<div class="mt-5 container-fluid">
    <div class="text-center">
        <img src="{% static 'core/images/download.jpg' %}" alt="ProfilePic" class="img-thumbnali" width="250px" height="150px">
    </div>
<div class="mt-5 text-white mx-5 text-justify">
<h1 class="font-weight-bold font">Hello</h1>
<div class="px-4" style="line-height: 2rem;">
    <p style="text-indent: 100px;"> I am <b class="text-warning">kanchan yadav</b>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Aperiam soluta labore veniam a quas tempore eum ullam sit
     Aperiam soluta labore veniam a quas tempore eum ullam sit  
     praesentium nisi.
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Temporibus veniam illo nisi alias ratione earum nemo tempora 
          <b class="text-warning">iste provident!</b>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Porro nesciunt nobis aliquam perferendis nulla eum neque
            eius omnis ratione dolorem quo expedita, magni eaque.
           Quasi facilis consequuntur alias excepturi modi.</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Temporibus veniam illo nisi alias ratione earum nemo tempora 
            <b class="text-warning">iste provident!</b>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
             Porro nesciunt nobis aliquam perferendis nulla eum neque
              eius omnis ratione dolorem quo expedita, magni eaque.
             Quasi facilis consequuntur alias excepturi modi.</p>
</p>
</div>
</div>
<div class="text-center">
<a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me </a>
<a href="{% url 'contact' %}" class="btn btn-outline-info my-3 mr-5">Contact</a>
</div>
</div>

{% endblock content %}







