{% extends 'base.html' %}
{% load humanize %}
{% block content %}
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">Dashboard</h1>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header">Filter Data</div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header bg-danger">
              <form method="get">
                <div class="row">
                  <div class="col-md-4">
                    <p>
                      <input type="date"
                             name="end_year"
                             class="form-control"
                             id="id_end_year"
                             placeholder="End year is less than or equal to">
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p>
                      <input type="text"
                             name="topic"
                             class="form-control"
                             id="id_topic"
                             placeholder="Topic contains">
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p>
                      <input type="text"
                             name="sector"
                             class="form-control"
                             id="id_sector"
                             placeholder="Sector contains">
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <p>
                      <input type="text"
                             name="region"
                             class="form-control"
                             id="id_region"
                             placeholder="Region contains">
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p>
                      <input type="text"
                             name="pestle"
                             class="form-control"
                             id="id_pestle"
                             placeholder="Pestle contains">
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p>
                      <input type="text"
                             name="sources"
                             class="form-control"
                             id="id_sources"
                             placeholder="Sources contains">
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <p>
                      <input type="text"
                             name="country"
                             class="form-control"
                             id="id_country"
                             placeholder="Country contains">
                    </p>
                  </div>
                  <div class="col-md-4">
                    <!-- empty column to fill the row -->
                  </div>
                  <div class="col-md-4">
                    <!-- empty column to fill the row -->
                  </div>
                </div>
                <button class="btn btn-primary" type="submit">Filter</button>
                <a class="btn btn-danger"
                   href="?{% for key in request.GET %}{% if key != 'page' %}&{{ key }}={% endif %}{% endfor %}"
                   class="btn btn-secondary">Clear Filter</a>
              </form>
            </div>
            <div class="card-body  table-responsive">
              <table class="table table-striped  table-bordered">
                <thead>
                  <tr>
                    <th class="text-black" colspan="16">Total Result Found-{{ filter.qs.count }}</th>
                  </tr>
                  <tr>
                    <th>SR. No.</th>
                    <th>Topic</th>
                    <th>Region</th>
                    <th>Sector</th>
                    <th>Country</th>
                    <th>PESTLE</th>
                    <th>Sources</th>
                    <th>Impact</th>
                    <th>Insight</th>
                    <th>Title</th>
                    <th>Likelihood</th>
                    <th>Relevance</th>
                    <th>Intensity</th>
                    <th>Start Year</th>
                    <th>End Year</th>
                    <th>Add Date</th>
                    <th>Publish Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for summary in page_obj %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ summary.topic }}</td>
                      <td>{{ summary.region }}</td>
                      <td>{{ summary.sector }}</td>
                      <td>
                        {{ summary.country }}
                      </td>
                      <td>
                        {{ summary.pestle }}
                      </td>
                      <td>
                        {{ summary.sources }}
                      </td>
                      <td>
                        {{ summary.impact }}
                      </td>
                      <td>
                        {{ summary.insight|slice:":20"  }}
                      </td>
                      <td>
                        {{ summary.title|slice:":20"  }}.....
                      </td>
                      <td>
                        {{ summary.likelihood }}
                      </td>
                      <td>
                        {{ summary.relevance }}
                      </td>
                      <td>
                        {{ summary.intensity }}
                      </td>
                      <td>
                        {{ summary.start_year|naturalday }}
                      </td>
                      <td>
                        {{ summary.end_year|naturalday }}
                      </td>
                      <td>
                        {{ summary.add_date|naturalday }}
                      </td>
                      <td>
                        {{ summary.publish_date|naturalday }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="8">
                      <div class="pagination">
                        <span class="step-links">
                          {% if page_obj.has_previous %}
                            <a class="btn btn-danger" href="?page=1">&laquo; first</a>
                            <a class="btn btn-danger"
                               href="?page={{ page_obj.previous_page_number }}">previous</a>
                          {% endif %}
                          <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                          </span>
                          {% if page_obj.has_next %}
                            <a class="btn btn-danger" href="?page={{ page_obj.next_page_number }}">next</a>
                            <a class="btn btn-danger"
                               href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                          {% endif %}
                        </span>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  {% endblock %}
