<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
        <a class="nav-link" href="index.html">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          Dashboard
        </a>
        <div class="collapse"
             id="collapseLayouts"
             aria-labelledby="headingOne"
             data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="layout-static.html">Static Navigation</a>
            <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
          </nav>
        </div>
        <nav class="sb-sidenav-menu-nested nav">
          <a class="nav-link" href="{% url 'dashboard:filter' %}">All Filters</a>
          <a class="nav-link" href="{% url 'dashboard:likelihood' %}">Chart-One</a>
          <a class="nav-link" href="{% url 'dashboard:relevance' %}">Chart-Two</a>
          <a class="nav-link" href="{% url 'dashboard:intensity' %}">Chart-Three</a>
        </nav>
      </div>
    </nav>
  </div>
