{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row d-flex justify-content-center p-5">
    <div class="col-md-8">
      <div class="card post-card  border-primary">
        <div class="card-header">
          <h1 class="h1">My Recent Feeds</h1>
        </div>
        {% for blog in posts %}
        <div class="card-body p-2">
          <div class="card-titie">
            <h5 class="m-0">{{blog.name}}</h5>
          </div>
          <div class="card-text">
            <span class="captions">{{blog.caption}}</span>
            <p><i class="fas fa-user-circle small-text"></i> Post By: {{blog.user}}</p>
            <a href="{% url 'blog:post-detail' blog.id %}"  
            target="_blank" rel="noopener noreferrer" 
            class="btn btn-outline-primary p-2">
            View 
            <i class="fa fa-eye" aria-hidden="true"></i></a>
          </div>

        </div>
        <hr>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <div class="card post-card border-danger">
        <div class="card-header">
          <h1 class="h1">Follow Person</h1>
        </div>
        <div class="card-body">
         
          <ul class="list-group">
          {% if request.user.is_authenticated %}
          {% for user in users  %}
          <li class="list-group-item">
            <i class="fa fa-user-circle" aria-hidden="true"></i> 
              |<a href="{% url 'blog:view-person' user.id %} ">
                {{ user.first_name }} {{ user.last_name }}
              </a>

          </li>
          {% endfor %}
          {% else %}
            <h3>Login and Register and show the person list</h3>
          {% endif %}
          
          </ul>
          
        </div>
      </div>


    </div>
  </div>
</div>
{% endblock content %}